<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed" >
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="FriendlyEyeServer.RESTServiceImplBehavior" name="FriendlyEyeServer.FriendlyEyeServerService">
        <endpoint address="http://localhost:8000" binding="webHttpBinding" contract="FriendlyEyeServer.IFriendlyEyeServerService" behaviorConfiguration="Web" bindingConfiguration="myBinding">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <webHttp defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" />
          <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="FriendlyEyeServer.RESTServiceImplBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
